.infoScreen{
  font-family: 'Tiresias';
  color: #fff;
  text-shadow: -2px 2px 5px #000;
  font-size: $font-size-big;
  height:100%;

  .row{
    position: relative;
    margin: 0 !important;
    width: 100%;
    max-width: 100%;

    .columns{
      padding: 0;
      margin: 0 !important;
    }

    .weather{
      display: flex;
      align-items: flex-start;

      img{
        height: 7rem;
        margin-right: 30px;
      }
    }

    .time{
      text-align: right;
    }
  }

  .welcome{
    position: relative;
    margin-top: 10%;
    text-align: center;
  }
}