body {
  overflow: hidden !important;
  font-family: Corbert !important;
  margin-left: 44px !important;
  margin-right: 56px !important;
  margin-top: 70px !important;
  background-color: black !important;
}

.main {
  background-color: black;
  height: 97vh;

  .topRow{
    padding-top: 35px;
  }

  .row{
    height: 60%;

    .topRow{
    }

    .column{
      padding: 0 !important;
      width: 100%;
    }
  }

  .content{
    margin-bottom: 210px;
    margin-right: 108px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .center{
    top: 0;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    .center-bottom{
      align-self: flex-end;
      margin-bottom: 5%;
    }
  }
}