.modal{
  .modal__content{
    padding: $distance-default;

    .modal__content-top{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      margin-bottom: $distance-default;

      .modal__content-top-thumb{
        order: 0;
        flex: 0 1 auto;
        align-self: center;
        margin-right: $distance-default;
        img{
          width: 40px;
          height: auto;
        }
      }

      .modal__content-top-title{
        order: 0;
        flex: 0 1 auto;
        align-self: center;
        display: inline;
        margin-bottom: 0;
      }
    }

    .modal__content-description{
      margin-bottom:$distance-default;
    }

    .modal__content-button{
      .columns{
        padding: 0;

        button{
          color: #071a4a;
          background-color: $text-color;
          float:right;
          margin: 0;
        }
      }
    }

  }

}
