.music-small{
  border: 3px solid white;
  color: white;
  margin: 0 auto;
  text-align: center;

  //bottom: 5%;
  .player-container{
    width: 100%;
    .player-progress-container{
      position: relative;
      width: 365px;
      height: 9px;
      margin: 0 auto;
      background-color: #414141;
      .player-progress-value{
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        background-color: #CDD2D8;

      }
    }
  }
}
