.shopping{
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 87%;
  font-size: 5rem;

  .row{
    width: 100%;
  }

  .display{
    font-size: 4rem;
    margin-top: -10rem;
    width: 100%;
  }

  .table{
    font-size: 2rem;
    float: left;

    .th {
      padding-left: 1rem;
      padding-right: 2rem;
      vertical-align: top;
      text-align: left;
      border-left: 1px solid white;

      .row_product {
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
  }


  .display-shopping{
    font-size: 4rem;
    margin-top: -11rem;
    margin-bottom: 3rem !important;
    width: 100%;
    margin-left: 7rem;

    .eva {
      transform: rotate(-90deg);
      position: absolute;
      font-size: 2rem;
      left: 8.1rem;
      top: 33rem;
      font-family: jk;
    }

    .img {
    width: 9%;
    height: 51%;
    padding-right: 1rem;
    padding-top: 1rem;
    }
  }

  .shopping-List {
    display: inline-block;
    width:100%;
  }

}