.shopping{
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 55%;
  font-size: 5rem;

  row{
    width: 33%;
  }

  .display{
    display: inline-block;
    float: left;
  }

  .display-shopping{
  }

}