.tasks{
  //border: 3px solid white;
  color: white;
  width: 80%;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  font-family: roboto;
  font-size: 2.1rem;

  .row{
    margin: 0 !important;
  }

  .display-reminder {
    color: red;
  }

  .title {
    margin-left: 3%;
  }

  .time {
    margin-left: -3%;
    margin-top: 0%;
  }
}