.weather{
  color: white;
  width: 80%;
  float: right;
  margin-right: 5%;
  margin-top: 8%;
  text-align: right;

  .row{
    margin: 0 !important;
  }

  .columns{
    display: block;
    float: left;
    width: 50% !important;
  }

  .imgw{
    width: 85%;
    height: 70%;
  }

  .degree {
    font-size: 3.5rem;
    font-weight: bold;
  }

  .max-degree {
    font-size: 2rem;

    .imgm {
      width: 20%;
      height: 75%;
      float: left;
    }

    .max {
      padding-right: 14%;
    }

    .min {
      padding-right: 21%;
    }
  }

  .min-degree {
    font-size: 2rem;
    padding-left: 10%;

    .imgm {
      width: 30%;
    }
  }

  .label_weather {
    font-size: 1.4rem;
    margin-top: 29% !important;
    padding-left: 10% !important;
  }
}