.weather{
  color: white;
  width: 80%;
  float: right;
  margin-right: 5%;
  margin-top: 13%;
  text-align: right;

  .row{
    margin: 0 !important;
  }

  .columns{
    display: block;
    float: left;
    width: 50% !important;
  }

  img{
    width: 95%;
    height: 70%;
  }

  .degree {
    font-size: 3.5rem;
    font-family: roboto;
    font-weight: bold;
    padding-left: 10%;
  }

  .max-degree {
    font-size: 2rem;
    font-family: roboto;
    padding-left: 10%;

    > img {
      width: 30%;
    }
  }

  .min-degree {
    font-size: 2rem;
    font-family: roboto;
    padding-left: 10%;

    > img {
      width: 30%;
    }
  }

  .label_weather {
    font-size: 2.2rem;
    font-family: roboto;
    margin-top: 3% !important;
  }
}